* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.orange-bar {
    height: 75px;
    width: 100%;
    background-color: #ff6900;
    box-shadow: 1px 1px 5px #000000;

    display: flex;
    justify-content: space-between;
    padding: 25px 100px;

    position: fixed;
}

.orange-bar img {
    height: 25px;
}

.orange-bar .woman-man-child a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.font-symbols {
    color: white;
}

.font-symbols .fa-regular {
    margin-right: 10px;
}

/* Fine navbar */

/* Main body */

.pictures-block {
    width: 1450px;

    display: flex;
    flex-wrap: wrap;

    background-color: red;
}